.background-page{
	background: #C6CFE1;
}

.product-name {
	font-family: 'Economica';
	font-style: normal;
	font-weight: 700;
	font-size: 100px;
	line-height: 115px;

	/* identical to box height */

	color: #000000;
}

.nav-items {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.card {
	background-color:white;
	box-shadow: -50px 50px 60px 38px rgba(0, 0, 0, 0.25);
}

.heading-items {
	font-family: 'Iceland';
	font-style: normal;
	font-weight: 400;
	font-size: 75px;
	line-height: 73px;
}

.front-page-buttons {
	font-family: 'Iceland';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 29px;
	
	background: #48A5BA;
	border-radius: 20px;
}

.footer-text {
	font-family: 'Iceland';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
}

.modal-card {
	background: #C6CFE1;
	box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}

.modal-input {
	background:transparent;
}

.modal-button {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;

	color: #000000;
	box-shadow: -15px 15px 30px rgba(0, 0, 0, 0.25);
}

.modal-text {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
}

.cancel-icon {
	pointer-events:auto;
}
